.fundoCadastro {
    background-image: url(https://ik.imagekit.io/mnz3yzqzot/9ea0c987483e304ce1dca657752cd194.jpg?updatedAt=1717182159229);
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
  }