.fundoLogin {
    background-image: url(https://ik.imagekit.io/mnz3yzqzot/64a09784929140f28ab885a542aaa6cb.jpg?updatedAt=1717182940774);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
